/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors

$slate:    #4e6766;
$camaro:   #2075aa;
$greed:    #a5c882;
$ocean:    #185468;
$white:    #ffffff;

// Fonts

$roboto:   'Roboto', sans-serif;
$open:     'Open Sans', sans-serif;
