/*------------------------------------------------------------------------------
  Global Hero
------------------------------------------------------------------------------*/

.default-hero {
  max-width: 100%;
  height: 530px;
}

.default-hero__content {
  padding-top: 200px;
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .default-hero__content{
    padding: 165px 0;
  }
}
